// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// Dark blue: #2061B2
// Peach: #FF6F60
// Blue: #4799FF
// Light green: #AECC24
// Dark green: #9AB229

ion-app.md {
  font-size: 1.8rem;
}

ion-app.ios {
  font-size: 1.8rem;
}

ion-app.wp {
  font-size: 1.8rem;
}

.toolbar {
  color: #fff;
}

page-home div.toolbar-background-md {
  background-color: #4799FF;
}
page-intro div.toolbar-background-md,
page-quickstart div.toolbar-background-md,
page-healing div.toolbar-background-md,
page-cleansing div.toolbar-background-md {
  background-color: #4799FF; // #005cb2;
}

ion-menu div.toolbar-background-md {
  background-color: #4799FF; // #FF6F60;
}

page-adhesives div.toolbar-background-md,
page-heat div.toolbar-background-md,
page-callus div.toolbar-background-md,
page-cuts div.toolbar-background-md,
page-lumber div.toolbar-background-md,
page-poison div.toolbar-background-md,
page-punctures div.toolbar-background-md,
page-settings div.toolbar-background-md,
page-terms div.toolbar-background-md,
page-privacy div.toolbar-background-md,
page-waste div.toolbar-background-md {
  background-color: #4799FF; // #2061B2;
}

page-adhesives ion-content,
page-heat ion-content,
page-callus ion-content,
page-cuts ion-content,
page-lumber ion-content,
page-poison ion-content,
page-punctures ion-content,
page-waste ion-content {
  background-color: #e8e8e8;
}

.toolbar-title-md {
  color: #fff;
}

.bar-button-default-md {
  color: #fff;
}

.steps-header {
  height: 85px;
  background-color: #5db643;
  color: #fff;
  margin: 0;
  padding: 16px;
}

.subject-header {
  color: #3284b3;//#4c9dcd; //  #4799FF;
  margin: 0;
  padding: 28px;
}

div.subject-header span {
  color: #225877;
}

.subject-page {
  background-color: #e8e8e8;
}

.subject-card {
  border-left: solid 3px #9AB229;// #5db643; /* #00B0FF;*/
}

.subject-card-first {
  margin-top: 22px;
}

ion-card-content p.subject-card-detail {
  margin-bottom: 10px;
}

.subject-card-header {
  color: #414d54;/* #00B0FF;*/
  font-weight: 700;
}

.category-header {
  /*background-color: #1e88e5;*/ /*#448aff;*/
  color: #4799FF;// #fff;
  //height: 150px;
  margin: 0;
  padding: 28px;
  text-align: left;
}

.category-header i {
  margin-right: 15px;
}

.circle {
  padding-top: 17px;
  margin: 10px auto 5px auto;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #00B0FF;
}

.circle div {
  font-family: 'Roboto';
  font-size: 2.7em;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.home-content {
  background-color: #fff; // #448AFF;
}
.home-gradient {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.bkgd-gradient {
  background: #f0f9ff; /* Old browsers */
  background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
}
.home-header {
  padding-top: 30px;
}

.home-slogan {
  padding: 0;
  text-align: center;
  color: #000;
}

.home-title {
  color: #2c566d;
  margin-top: .5rem;
  text-align: center;
}

.card-icon {
  color: #34657f;
  font-size: 3rem;
  padding: 10px;
  margin: 30px auto 0 auto;
  background-color: #eee;
}

.card-button {
  margin: 0 auto 0 auto;
  /*float: right;*/
}


.text-center {
  text-align: center;
}

ion-content {
  font-size: 1.6rem;
}

.quick-start-card {
  border-left: solid 3px #fdbc50;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
}

ion-footer {
  display: none;
}

.list-md .item-block .item-inner {
  border: 0;
}

.scroll-content {
  overflow: auto;
}

.item-md {
  /*background-color: #99c7ff;*/
}
.item-md-light {
  /*background-color: #e6f1ff;*/
}
