// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// Dark blue: #2061B2
// Peach: #FF6F60
// Blue: #4799FF
// Light green: #AECC24
// Dark green: #9AB229

ion-app.md {
  font-size: 1.8rem;
}

ion-app.ios {
  font-size: 1.8rem;
}

ion-app.wp {
  font-size: 1.8rem;
}

.toolbar {
  color: #fff;
}



ion-nav .ion-page div.toolbar-background-md {
  background-color: #fff;
  color: #5c9bbc;
}


ion-menu div.toolbar-background-md {
  background-color: #2c566d;
}

ion-menu div.toolbar-title {
  font-size: 17px;
}


.toolbar-title-md {
  color: #fff;
}

.bar-button-default-md {
  color: #fff;
}

.steps-header {
  height: 85px;
  background-color: #5db643;
  color: #fff;
  margin: 0;
  padding: 16px;
}

.subject-header {
  color: #3284b3; //#4c9dcd; //  #4799FF;
  margin: 0;
  padding: 28px;
  border-bottom: 2px solid #5c9bbc;
}

div.subject-header span {
  color: #225877;
  font-size: 14px;
}

.subject-page {
  background-color: #fff;
}

.subject-card {
  border: 0;
}

ion-card.card-md {
  box-shadow: none;
}

.subject-card-first {
  margin-top: 22px;
}

ion-card-content p.subject-card-detail {
  margin-bottom: 10px;
}

.subject-card-header {
  color: #414d54; /* #00B0FF;*/
  font-weight: 700;
}

.category-header {
  /*background-color: #1e88e5;*/ /*#448aff;*/
  color: #4799FF; // #fff;
  //height: 150px;
  margin: 0;
  padding: 28px;
  text-align: left;
}

.category-header i {
  margin-right: 15px;
}

.home-content {
  background-color: #fff; // #448AFF;
}

.home-gradient {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.bkgd-gradient {
  background: #f0f9ff; /* Old browsers */
  background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
}

.home-header {
  padding-top: 30px;
}

.home-slogan {
  padding: 0;
  text-align: center;
  color: #000;
}

.home-title {
  color: #2c566d;
  margin-top: .5rem;
  text-align: center;
}

.card-icon {
  color: #34657f;
  font-size: 3rem;
  padding: 10px;
  margin: 30px auto 0 auto;
  background-color: #eee;
}

.card-button {
  margin: 0 auto 0 auto;
  /*float: right;*/
}


.text-center {
  text-align: center;
}

ion-content {
  font-size: 1.6rem;
}

.quick-start-card {
  border-left: solid 3px #fdbc50;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
}

ion-footer {
  display: none;
}

.list-md .item-block .item-inner {
  border: 0;
}

.scroll-content {
  overflow: auto;
}

.item-md {
  /*background-color: #99c7ff;*/
}

.item-md-light {
  /*background-color: #e6f1ff;*/
}


.bar-button-default-md {
  color: #5c9bbc;
}


ion-header div.toolbar-title-md {
  color: #5c9bbc;
}

ion-menu div.toolbar-title-md {
  color: #fff;
}

ion-menu button.item {
  background-color: #5c9bbc;
  color: #fff;
}



ion-menu ion-content.content-md {
  background-color: #5c9bbc;
  color: #fff;
}

ion-menu ion-content {
  background-color: #5c9bbc;
  color: #fff;
}

ion-menu ion-list-header.item-md {
  background-color: #5c9bbc;
  color: #fff;
}

ion-menu ion-list-header.list-header-md {
  border-top-width: 0;
}

ion-menu ion-list-header ion-label {
  color: #555;
}

.logo-footer {
  margin: 0 20% 0 30%;
}
